.rounded-img {
  border-radius: 50%;
  animation: move 2s infinite;
}

@keyframes move {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(10px, 10px);
  }
  100% {
    transform: translate(0);
  }
}
